.center {
	margin: auto;
	width: 60%;
	padding: 10px;
	background-color: gray;
	top: 200px;
	position: relative;
}

video {
	margin: auto;
	width: 270px;
	height: 480;
}

.video_box {
	position: relative;
	margin: auto;
}

.video_overlays {
	position: absolute;
	min-height: 40px;
	z-index: auto;
	bottom: -100px;
	left: -60px;
	text-align: center;
}

.details {
	background-color: yellow;
	width: 200px;
	height: 200px;
	position: relative;
	margin: auto;
}

.container {
	width: 60%;
	margin: auto;
	overflow: hidden;
	background-color: gray;
	top: 100px;
	position: relative;
}

.left {
	width: 50%; 
	float: left;
	background-color: red;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 600px;
}

.right {
	margin-left: 0px;
	background-color: blue;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 600px;
}